#!/bin/sh

errorExit() {
    echo "*** $*" 1>&2
    exit 1
}

OVERRIDE_SCRIPT="`dirname "$0"`/check_override.sh"

if [ -x "$OVERRIDE_SCRIPT" ]; then
	echo "Calling '$OVERRIDE_SCRIPT'."
	"$OVERRIDE_SCRIPT"
	exit $?
fi

curl -sfk --max-time 2 https://localhost:6443/healthz -o /dev/null || errorExit "Error GET https://localhost:6443/healthz"
