#!/bin/sh

errorExit() {
	echo "*** $*" 1>&2
	exit 1
}

wget -q -O /tmp/weavenet.yaml "{{ WEAVENET_YAML_URL_PREFIX }}{{ KUBECTL_VERSION.stdout }}"

egrep '^[ \t]*image:' /tmp/weavenet.yaml  | sed 's/.*image: *//' | tr -d "'" | tr -d '"' | sort -u

rm -f /tmp/weavenet.yaml
