#!/bin/sh

errorExit() {
	echo "*** $*" 1>&2
	exit 1
}

wget -q -O /tmp/calico.yaml '{{ CALICO_YAML_URL }}' || errorExit "Error downloading from '{{ CALICO_YAML_URL }}'."

egrep '^[ \t]*image:' /tmp/calico.yaml  | sed 's/.*image: *//' | sort -u

rm -f /tmp/calico.yaml
