#!/bin/sh

{% for host in groups['primary-master'] %}
PRIMARY_MASTER_FQDN="`echo "{{ hostvars[host]['ansible_fqdn'] }}" | sed 's/\./\\./g'`"
{% endfor %}

{% for host in groups['primary-master'] %}
PRIMARY_MASTER_IP="`echo "{{ hostvars[host]['ansible_default_ipv4']['address'] }}" | sed 's/\./\\./g'`"
{% endfor %}

cd /etc/kubernetes
perl -pi -e "s/${PRIMARY_MASTER_FQDN}/{{ ansible_fqdn }}/g; s/${PRIMARY_MASTER_IP}/{{ ansible_default_ipv4.address }}/g" *.* 
cd /etc/kubernetes/manifests
perl -pi -e "s/--advertise-address=${PRIMARY_MASTER_IP}/--advertise-address={{ ansible_default_ipv4.address }}/g; s/${PRIMARY_MASTER_IP} *$/{{ ansible_default_ipv4.address }}/g" *.*
