#
# Create an admin.conf file for load-balanced remote access.
#
---

- name: Create admin.conf file for local kubectl or dashboard access
  script: "create-kubeconfig.sh"

- name: Fetch patched admin.conf
  fetch: src=/tmp/admin.conf dest=/tmp/{{ CLUSTER_NAME }}-admin.conf flat=yes

- name: Done
  debug: msg="The kubeconfig file was saved to '/tmp/{{ CLUSTER_NAME }}-admin.conf'. You can run 'cp /tmp/{{ CLUSTER_NAME }}-admin.conf ~/.kube/config' to use it or for access to the dashboard."
