apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: "{{ APISERVER_VIP }}:{{ APISERVER_LB_PORT }}"
etcd:
    external:
        endpoints:
{% for host in groups['etcd'] %}
        - https://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2379
{% endfor %}
        caFile: /etc/kubernetes/pki/etcd/ca.crt
        certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
        keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key
