apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
kubernetesVersion: v{{ KUBERNETES_VERSION }}
networking:
  podSubnet: {{ POD_NETWORK_CIDR }}
api:
  advertiseAddress: {{ ansible_default_ipv4.address }}
apiServerCertSANs:
- 127.0.0.1
- {{ MASTER_VIP }}
{% for host in groups['masters'] %}
- {{ hostvars[host]['ansible_fqdn'] }}
{% endfor %}
{% for host in groups['masters'] %}
- {{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}
etcd:
  endpoints:
{% for host in groups['etcd'] %}
  - https://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2379
{% endfor %}
  caFile: /etc/kubernetes/pki/etcd/ca.pem
  certFile: /etc/kubernetes/pki/etcd/client.pem
  keyFile: /etc/kubernetes/pki/etcd/client-key.pem
apiServerExtraArgs:
  endpoint-reconciler-type: "lease"
