apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
kubernetesVersion: v{{ KUBERNETES_VERSION }}
apiServerCertSANs:
- {{ MASTER_VIP }}
- {{ ansible_default_ipv4.address }}
api:
  controlPlaneEndpoint: {{ MASTER_VIP }}
  advertiseAddress: {{ MASTER_VIP }}
etcd:
  external:
    endpoints:
{% for host in groups['etcd'] %}
    - https://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2379
{% endfor %}
    caFile: /etc/kubernetes/pki/etcd/ca.crt
    certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
    keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key
networking:
  podSubnet: {{ POD_NETWORK_CIDR }}
