apiVersion: kubeadm.k8s.io/v1alpha3
kind: InitConfiguration
apiEndpoint:
  advertiseAddress: {{ MASTER_VIP }}
---
apiVersion: kubeadm.k8s.io/v1alpha3
kind: ClusterConfiguration
kubernetesVersion: v{{ KUBERNETES_VERSION }}
etcd:
  external:
    endpoints:
{% for host in groups['etcd'] %}
    - https://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2379
{% endfor %}
    caFile: /etc/kubernetes/pki/etcd/ca.crt
    certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
    keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key
networking:
  podSubnet: {{ POD_NETWORK_CIDR }}
controlPlaneEndpoint: {{ MASTER_VIP }}
apiServerCertSANs:
- {{ MASTER_VIP }}
- {{ ansible_default_ipv4.address }}
