#!/bin/sh

KUBECONFIG=/etc/kubernetes/admin.conf
export KUBECONFIG

MAX_WAIT_SECONDS=300
INCREMENT_SECONDS=10
N=0
READY=false

while [ "$READY" != "true" ]; do
	READY=true

	if [ $N -gt ${MAX_WAIT_SECONDS} ]; then
		echo "Secondary master {{ master }} has not come up within ${MAX_WAIT_SECONDS} seconds." 1>&2
		exit 1
	else
		N=`expr $N + ${INCREMENT_SECONDS}`
	fi

	if kubectl get nodes | egrep -q "^{{ hostvars[master]['ansible_hostname'] }}[ \t]*Ready"; then
		echo "Node {{ hostvars[master]['ansible_hostname'] }} is ready."
	else
		echo "Node {{ hostvars[master]['ansible_hostname'] }} is not yet ready."
		READY=false
	fi

	if [ "$READY" != "true" ]; then
		sleep ${INCREMENT_SECONDS}s
	fi
done

