#
# Prepare node (i.e. set up and fix some files)
#
---

- name: Make sure some needed software is installed via package manager
  package: name={{ item }} state=present
  with_items:
  - perl
  - kubelet-{{ KUBERNETES_VERSION }}
  - kubectl-{{ KUBERNETES_VERSION }}
  - kubeadm-{{ KUBERNETES_VERSION }}
  - kubernetes-cni-{{ KUBERNETES_CNI_VERSION }}

- name: Determine docker's cgroup driver and update kubelet accordinlgy
  shell: docker info 2>&1 | grep "Cgroup Driver" | cut -d" " -f3
  register: CGROUPS_DRIVER
  changed_when: false

- name: Use docker's cgroup driver and update kubelet accordinlgy
  replace: "regexp='^(.*--cgroup-driver=)(systemd|cgroupfs)(.*)$' replace='\\1{{ CGROUPS_DRIVER.stdout_lines[0] }}\\3' path='/etc/systemd/system/kubelet.service.d/10-kubeadm.conf'"

- name: Reload systemd units
  # Fixme: 2.3.1.0 wants a 'name' argument here which is of course nonsense
  #systemd: daemon-reload=yes
  command: systemctl daemon-reload

- name: Enable kubelet
  service: name=kubelet enabled=yes

- name: Create setup directory 
  file: path=/root/setup state=directory
  when: "'primary-master' in group_names"

