apiVersion: v1
kind: PersistentVolume
metadata:
  name: elasticsearch-logging-data-{{ ES_INDEX }}
  namespace: kube-system
  labels:
    application: "my-es-logging"
spec:
  capacity:
    storage: 40Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "{{ ES_DATA_HOST_PATH }}"
