user  nginx;
worker_processes auto;

error_log  /var/log/nginx/error.log info;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

stream {

    upstream apiserver {
        hash $remote_addr consistent;
{% for host in groups['masters'] %}
        server {{ hostvars[host]['ansible_default_ipv4']['address'] }}:6443 weight=5 max_fails=3 fail_timeout=30s;
{% endfor %}
    }

    server {
        listen {{ APISERVER_LB_PORT }};
        proxy_timeout 1s;
        proxy_connect_timeout 1s;
        proxy_pass apiserver;
    }

}

