#
# Configure keepalived for the masters.
#
---
- name: Create configuration directory
  file: path=/etc/keepalived state=directory owner=root mode=0755

- name: Copy check script
  template: src=check_apiserver.sh.j2 dest=/etc/keepalived/check_apiserver.sh owner=root group=root mode=0755

- name: Generate configuraton file
  template: src=keepalived.conf.j2 dest=/etc/keepalived/keepalived.conf

- name: Copying override script to primary master in order to have a VIP before at least one APIServer is up
  copy: src=check_override.sh dest=/etc/keepalived/check_override.sh mode=0755 owner=root group=root
  when: "'primary_master' in group_names"

- name: Generate static pod configuraton file directory
  file: path=/etc/kubernetes/manifests state=directory

- name: Generate static pod configuraton file
  template: src=keepalived.yaml.j2 dest=/etc/kubernetes/manifests/keepalived.yaml
