#
# Upgrade a cluster's nodes one by one:
# - cordon it if master, drain it if minion
# - shut down kubernetes services
# - upgrade its software 
# - restart kubelet service
# - uncordon it
#
---

- name: Make sure some needed software is installed via package manager
  package: name=kubeadm-{{ KUBERNETES_VERSION }} state=present

- name: Perform upgrade sequence on all minions one by one
  include_tasks: upgrade-minion.yaml
  with_items: "{{ groups['minions'] }}"
  loop_control:
    loop_var: minion
